.elgg-form-register .profile-validation-field {
	padding: 2rem;
	margin: 1rem -2rem;
	width: calc(100% + 4rem);
	border: 2px solid $(state-danger-border-color);
	background: $(state-danger-background-color);
	border-radius: 3px;
}
