:root {
	--profile-fields-background: #fff;
	--profile-fields-gap: 1rem;
	--profile-fields-padding: 1rem;
}

.elgg-profile-fields {
	border: 1px solid var(--elgg-border-color-soft);
	background: var(--profile-fields-background);
	display: grid;
	grid-gap: var(--profile-fields-gap);
	grid-template-columns:  repeat(auto-fill, 50%);
	padding: var(--profile-fields-padding);
}

.elgg-profile-fields> div {
	border: none;
	padding: 0;
	margin: 0;
}

.elgg-profile-fields .profile-description {
	grid-column: 1;
	grid-column-end:  last;
}

.elgg-profile-fields .maps-component {
	grid-column: 1;
	grid-column-end: last;
}

#profile-details {
	border: none;
}
