.elgg-profile-fields {
	border: 1px solid $(border-color-soft);
	background: #fff;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns:  repeat(auto-fill, 50%);
	padding: 1rem;
}

.elgg-profile-fields> div {
	border: none;
	padding: 0;
	margin: 0;
}

.elgg-profile-fields .profile-description {
	grid-column: 1;
	grid-column-end:  last;
}

.elgg-profile-fields .maps-component {
	grid-column: 1;
	grid-column-end: last;
}

#profile-details {
	border: none;
}